# MongoDB connection string
# Local:
MONGO_URI=mongodb://localhost:27017

# MongoDB Atlas (cloud, recommended for production):
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority

# Port (optional, default is 3000)
PORT=3000
